@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

body {
    margin: 0px;
    background: #ffffff !important;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold);
}

#text1, #text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    color: #2563eb !important;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    text-align: center;
    user-select: none;
}